.nuxt-content {
  --outline-color: #{$color-text-dark};

  > * + * {
    margin-top: $spacing * 2;
  }

  h2,
  h3 {
    margin-top: $spacing * 5;
    padding-right: 1.5rem;
    position: relative;

    a {
      position: absolute;
      right: 0;
      top: 0.4em;
    }

    a::after {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%231c1c1c" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" ></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" ></path></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: '';
      display: block;
      height: 0.6em;
      opacity: 0;
      transform: translateX(-0.5rem);
      transition: opacity 0.2s, transform 0.2s;
      width: 0.6em;

      @media (max-width: $breakpoint-medium) {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  :is(h2, h3):hover > a::after {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.2s, transform 0.2s;
  }

  :is(h2, h3) > a:focus::after {
    opacity: 1;
    transform: translateX(0);
    transition: none;
  }

  ul,
  ol {
    padding-left: $spacing * 2;
  }

  ul > li {
    list-style-type: initial;
  }

  ol > li {
    list-style-type: decimal;
  }

  // Inline `code` elements
  :not(pre) > code {
    background-color: rgba($color-text-dark, 0.08);
    border-radius: 2px;
    padding: 0.1rem 0.2rem;
  }

  pre > code {
    border: 1px solid rgba($color-text-dark, 0.2);
    font-size: 0.9em;
  }

  hr {
    border: none;
    border-top: 2px solid rgba($color-text-dark, 0.2);
    margin: $spacing * 3 0;
  }

  blockquote {
    font-style: italic;
    margin: $spacing * 4 0;
    padding-bottom: $spacing * 2;
    position: relative;

    &::after {
      background: $gradient-accent;
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: $spacing * 10;
    }
  }

  .table-wrapper {
    overflow: auto;
  }

  table {
    border-collapse: collapse;

    th,
    td {
      padding: 0.5rem;
    }

    thead {
      th {
        background-image: $gradient-background-dark;
        border: 0.0625rem solid $color-text-dark;
        color: $color-text-light;
        text-align: initial;

        &:not(:last-child) {
          border-right: 0.0625rem solid $color-text-light;
        }
      }
    }

    tbody {
      tr td {
        border: 0.0625rem solid $color-text-dark;
      }

      tr:nth-child(even) td {
        background-color: rgba($color-text-dark, 0.1);
      }
    }
  }
}
