* {
  box-sizing: border-box;
}

body,
figure {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class],
li[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: inherit;
}
