body {
  line-height: 1.5;
  font-family: $font-family-serif;
  font-size: $font-size-normal;
}

h1,
h2 {
  font-family: $font-family-sans-serif;
  font-size: $font-size-large;
  line-height: 1.2;
}

strong {
  font-family: $font-family-sans-serif;
  font-size: 0.9em !important;
}

a {
  color: inherit;
}
