body {
  color: $color-text-dark;
  line-height: 1.5;
  font-family: $font-family-serif;
  font-size: $font-size-normal;
  letter-spacing: 0.15px;
}

h1,
h2 {
  font-family: $font-family-sans-serif;
  font-size: $font-size-large;
  line-height: 1.2;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-medium;
  }
}

strong {
  font-family: $font-family-sans-serif;
  font-size: 0.9em !important;
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
