$color-text-light: #fff;
$color-text-dark: #1c1c1c;

$color-accent-one: #ffdf96;
$color-accent-two: #ffa99f;
$color-accent-three: #ff719a;

$gradient-background-dark: var(--gradient-background-dark);
$gradient-accent: linear-gradient(
  90deg,
  $color-accent-one 0%,
  rgba($color-accent-two, 0.8) 50%,
  $color-accent-three 100%
);

$spacing: 0.625rem; // 10px

$container-width-small: $spacing * 60; // 600px
$container-width-medium: $spacing * 90; // 900px
$container-width-large: $spacing * 130; // 1300px

$breakpoint-small: $spacing * 50; // 500px
$breakpoint-medium: $spacing * 90; // 900px
$breakpoint-large: $spacing * 110; // 1100px

$opacity-background-text: 0.03;

$font-family-sans-serif: 'Tahoma', sans-serif;
$font-family-serif: 'Georgia', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-tiny: 0.875rem; // 14px
$font-size-small: 1rem; // 16px
$font-size-normal: 1.25rem; // 20px
$font-size-medium: 2rem; // 32px
$font-size-large: 3.125rem; // 50px

$transition-duration: 0.15s;
$transition-timing: ease-in-out;
