@import 'reset';
@import 'typography';
@import 'variables';
@import 'utilities';
@import 'nuxt-content';

*:focus {
  outline: 3px solid var(--outline-color, #{$color-purple});
  outline-offset: 1px;
}

/* Disable animations when requested. */
@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) {
  *, ::after, ::before {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important; /* Hat tip Nick/cssremedy (https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/#comment-1700170) */
    transition-duration: 0.001ms !important;
  }
}