@import 'variables';

:root {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Tahoma', 'Arial', sans-serif;
  color: $color-text-heading;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

blockquote {
  font-style: italic;
  margin: 0;
}

cite {
  font-style: normal;
}

.background-text {
  color: rgba($color-purple, 0.1);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}
