@import 'variables';

:root {
  font-size: 1.25rem;
  font-family: $font-family-body;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  color: $color-text-heading;
  line-height: 1.2;
}

h1 {
  font-size: 3.5rem;

  @media (max-width: 900px) {
    font-size: 2.5rem;
  }

  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;

  @media (max-width: 900px) {
    font-size: 2rem;
  }

  @media (max-width: 400px) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;

  @media (max-width: 900px) {
    font-size: 1.6rem;
  }

  @media (max-width: 400px) {
    font-size: 1.4rem;
  }
}

blockquote {
  font-style: italic;
  margin: 0;
}

cite {
  font-style: normal;
}

.background-text {
  color: rgba($color-purple, 0.1);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}
