.container {
  padding: 3rem;

  &--medium {
    max-width: $container-medium;
  }

  &--large {
    max-width: $container-large;
  }

  @media (max-width: 600px) {
    padding: 1rem;
  }
}

.flow > * + * {
  margin-top: var(--flow, 0.5rem);
}

.button {
  background-color: $color-purple;
  border-radius: 0.5rem;
  color: $color-white;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
